<template name="postContent">
        {{#each postThumbnail}}
            {{> UI.dynamic template=getTemplate data=..}}
        {{/each}}
        <div class="post-info">
            <h3 class="post-heading font28 fontBlack">
                {{#each postHeading}}
                    {{> UI.dynamic template=getTemplate data=..}}
                {{/each}}
            </h3>
            <h3 class="post-bodyText">
                {{ postBodyText}}
                  
            </h3>
            <!-- <div class="post-meta">
                {{#each postMeta}}
                {{> UI.dynamic template=getTemplate data=..}}
                {{/each}}
            </div> -->
            <div class="row itemFoot">
                    {{> popup_post}}

                <div class="col-lg-12 nonPost">                
                    <div class="col-lg-2">
                        <div class="arrows">        
                            <i class="fa fa-arrow-circle-o-up fa-3 uparrow_postContent  marginRight10"> </i>{{arrow_up}}
                            <!-- <i class="fa fa-arrow-circle-o-down downarrow_postContent marginLeft20 marginRight10"> </i>{{arrow_down}} -->
                        </div>                    
                    </div>
                    <!-- <div class="col-lg-1 hidden"> -->
                        <!-- {{> postRank}} -->
                        <!-- {{> postUpvote}} -->
                        <!-- {{> postActions}} -->
                        <!-- {{> postShare}} -->
                    <!-- </div> -->
                    <div class="col-lg-1 post-discuss pull-right media-right list-inline">
                            {{> postDiscuss}}                    
                    </div>
                    <div class="col-lg-2 post-avatars pull-right media-right list-inline">
                            {{> postAvatars}}   
                    </div>  
                    {{#if isLoggedIn}}
                        {{#if montlyAverage}}                  
                            <div class="col-lg-2 pull-right dollarAmt">
                                <div class="col-lg-6 DollarText fontRed">Monthly:</div>
                                <div class="col-lg-6 font28 dollarAmts fontRed">${{#if montlyAverage}}{{montlyAverage}}{{else}}0{{/if}}</div>
                            </div> 
                        {{/if}} 
                        {{#if oneTimeAverage}}            
                            <div class="col-lg-2 pull-right dollarAmt">
                                <div class="col-lg-6 DollarText fontRed">One Time:</div>
                                <div class="col-lg-6 font28 dollarAmts fontRed">${{#if oneTimeAverage}}{{oneTimeAverage}}{{else}}0{{/if}}</div>
                            </div>
                        {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>

     <!--  <div class="popus inline">
          as
      </div> -->
</template>
