<template name="popup_post">
        <div class="popEach centered" style="">
            <ul class="list-inline text-center ">
            <li>
                If this existed I'd be willing to pay:          
            </li>
            <li>
                <input type="text" class="" id="popup_post_Amount" placeholder="Enter Dollar Amount" >       
            </li>
            <li>
                 <button type="button" class="btn  popup_post_Onetime">One Time</button>
            </li>
            <li>
                 <button type="button" class="btn  popup_post_Monthly">Monthly</button>
            </li>
            <li>
                <div class="remove">x</div>
            </li>
        </ul>   
        </div>
</template>