<template name="posts_list">
  <div class="posts-wrapper grid grid-module">
    Crowd Funding, In Reverse

    Want something built? Chaces are you aren't alone. Voice what you want and let community back you (backing with funds coming soon). Teams will pitch for the chance to build your idea and you keep 3%. Who said an idea isn't worth anything?

    1 Post Your Idea
    2 Vote For Ideas
    3 Team Pitch to Build Ideas 
     
    {{> UI.dynamic template=postsListIncoming data=incoming}}
    <div class="posts list {{postsLayout}}" aria-live="polite">
      {{#each postsCursor}}
        {{> UI.dynamic template=before_post_item}}
        {{> UI.dynamic template=post_item}}
        {{> UI.dynamic template=after_post_item}}
      {{/each}}
    </div>
    {{> UI.dynamic template=postsLoadMore}}
  </div>
</template>