<template name="postsHead">
	<div class="at0_header ">
		 <a >	Crowd Funding, In Reverse </a>
	</div>
	<div class="headerText">
    Want something built? Chaces are you aren't alone. Voice what you want and let community back you (backing with funds coming soon). Teams will pitch for the chance to build your idea and you keep 3%. Who said an idea isn't worth anything?
    </div>
        <!-- <div class="space"></div> -->
    <div class="links3 ">

    	<div class="link3"><span>1</span> Post Your Idea</div>
    	<div class="link3"><span>2</span> Vote For Idea</div>
    	<div class="link3"><span>3</span> Team Pitch to Build Ideas</div>
    </div>
	
</template>