<template name="at0">
	<div>
		 <a class="upvote-link "><h2>	Crowd Funding, In Reverse </h2></a>
	</div>
<h6>
    Want something built? Chaces are you aren't alone. Voice what you want and let community back you (backing with funds coming soon). Teams will pitch for the chance to build your idea and you keep 3%. Who said an idea isn't worth anything?
</h6>
	<div class="post-upvote  inline">         
	    <a class="upvote-link" href="#" style="width:30%;float:left">
	      <i class="action-icon huge" aria-hidden="true">1</i>Post Your Idea
	      
	    </a>
	    <a class="upvote-link" href="#" style="width:30%;float:left">
	      <i class="action-icon" aria-hidden="true">2</i>Vote For Ideas
	    </a>    
	    <a class="upvote-link" href="#" style="width:30%;float:left">
	      <i class="action-icon " aria-hidden="true">3</i>Team Pitch to Build Ideas
	      
	    </a>    
    </div>
</template>
<template name="at3">

	
</template>
<template name="at5">
</template>
<template name="athide">
</template>
