<template name="css">
  <style>
      @import url({{getSetting 'fontUrl'}});
      
      body, textarea, input, button, input[type="submit"], input[type="button"]{
        font-family: {{getSetting 'fontFamily'}};
      }

      body{
        background: {{getSetting "backgroundCSS"}};
      }
      .header{
        background-color: {{getSetting "headerColor"}};
      }
      .header, .header .logo a, .header .logo a:visited{
        color: {{getSetting "headerTextColor"}};        
      }
      input[type="submit"], button, .button, button.submit, .auth-buttons #login-buttons #login-buttons-password, .btn-primary, .header .btn-primary, .header .btn-primary:link, .header .btn-primary:visited, .error, .mobile-menu-button, .login-link-text, .post-category:hover{
        background-color: {{getSetting "buttonColor"}};
        color: {{getSetting "buttonTextColor"}};
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-bodyText .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i, .toggle-actions-link, .post-meta a:hover, .action:hover, .post-upvote .upvote-link i{
        color: {{getSetting "buttonColor"}};
      }
      .post-upvote .upvote-link i{
        border-color: {{getSetting "buttonColor"}};
      }
      .toggle-actions-link{
        border-color: {{getSetting "buttonColor"}};
      }
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        /*color: {{getSetting "secondaryColor"}};*/
      }    

      .logo-image a{
        max-height:{{getSetting "logoHeight"}}px;
        max-width:{{getSetting "logoWidth"}}px;
      }

      /*************************************/
      .marginRight10{
        margin-right: 10px;
      }
      .at0_header a{

          color: #DD3416 !important;
      }
      .at0_header{
          text-align: center;
          font-size: 20px;
      }
      .links3 .link3 span{
        /*width: 30px;
        height: 30px;
        border-radius: 15px;
        padding: 10px;
        font-size: 24px;
          margin: 5px 15px;
        */
          font-weight: bold;
          color:  #DD3416;
          border: 1px solid #DD3416;
          width: 70px;
          height: 70px;
          padding: 10px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 35px;

      }
      .links3 {
          /*margin-top: 10px;*/
          /*margin-bottom: 10px;*/
          height: 70px;
          padding-top: 10px;
      }
      .headerText{
        font-size: 12px;
      }
      .links3 .link3{
        width: 25%;
        float: left;
      }
      .popEach .remove{
          font-weight: bold;
          color:  #DD3416;
          border: 1px solid #DD3416;
          width: 40px;
          height: 25px;
          padding: 1px 8px;
          font-size: 15px;
          line-height: 1.33;
          border-radius: 35px;
          /*margin-right: -50px;*/
      }
      .popEach li{
          margin:0px !important; 
      }
      .popEach button{
          border-radius: 0px !important;
          border: 0px !important;
          background: #DD3416;
      }
      .popEach{
          /*border: 1px solid grey;*/
          position: fixed;
          background: white;
          padding: 5px 10px;
          margin-bottom: 2px;
          margin-top: 2px;
          display: none;
          -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          top: 30%;
          left: 20%;
      }
      .popMain{
        color: #DD3416!important;
         position: fixed;
          background: white;
          padding: 5px 10px;
          margin-bottom: 2px;
          margin-top: 2px;
          display: none;
          -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          top: 50%;
          left: 50%;
          min-width: 270px;
          margin-left: -135px;
      }
      .popMain li>input{
        background-color:#E5E4E2;
        border: 1px solid #DD3416;
      }
      .space20{
        clear: both;
        display: block;
        height: 20px;
      }





       /*  pops **/
      .modal-static { 
          position: fixed;
          top: 50% !important; 
          left: 50% !important; 
          margin-top: -100px;  
          margin-left: -100px; 
          overflow: visible !important;
      }
      .modal-static,
      .modal-static .modal-dialog,
      .modal-static .modal-content {
          width: 200px; 
          height: 200px; 
      }
      .modal-static .modal-dialog,
      .modal-static .modal-content {
          padding: 0 !important; 
          margin: 0 !important;
      }
      .modal-static .modal-content .icon {
      }
      .post-upvote{
          display: none;  
      }
      .post-rank{
          display: none;
      }
      .post-thumbnail{
          display: none;
      }
      .posts-grid .no-thumbnail .post-info {
          padding-right: 0px !important;
      }
      .post-bodyText{
          color: #aaaaaa;
          font-size: 10px;
      }
      {{hideAuthClass}}

  </style>
</template>