<template name="css">
  <style>
      @import url({{getSetting 'fontUrl'}});
      
      body, textarea, input, button, input[type="submit"], input[type="button"]{
        font-family: {{getSetting 'fontFamily'}};
      }

      body{
        background: {{getSetting "backgroundCSS"}};
      }
      .header{
        background-color: {{getSetting "headerColor"}};
      }
      .header, .header .logo a, .header .logo a:visited{
        color: {{getSetting "headerTextColor"}};        
      }
      input[type="submit"], button, .button, button.submit, .auth-buttons #login-buttons #login-buttons-password, .btn-primary, .header .btn-primary, .header .btn-primary:link, .header .btn-primary:visited, .error, .mobile-menu-button, .login-link-text, .post-category:hover{
        background-color: {{getSetting "buttonColor"}};
        color: {{getSetting "buttonTextColor"}};
      }
      a:hover, .post-content .post-heading .post-title:hover, .post-content .post-bodyText .post-title:hover, .post-content .post-upvote .upvote-link i, .comment-actions a i, .comment-actions.upvoted .upvote i, .comment-actions.downvoted .downvote i, .toggle-actions-link, .post-meta a:hover, .action:hover, .post-upvote .upvote-link i{
        color: {{getSetting "buttonColor"}};
      }
      .post-upvote .upvote-link i{
        border-color: {{getSetting "buttonColor"}};
      }
      .toggle-actions-link{
        border-color: {{getSetting "buttonColor"}};
      }
      .post-content .post-upvote .upvote-link.voted i.icon-check{
        /*color: {{getSetting "secondaryColor"}};*/
      }    

      .logo-image a{
        max-height:{{getSetting "logoHeight"}}px;
        max-width:{{getSetting "logoWidth"}}px;
      }

      /*************************************/
      .marginRight10{
        margin-right: 10px;
      }
      .at0_header a{

          color: rgb(212, 54, 37) !important;
      }
      .at0_header{
          text-align: center;
          font-size: 24px;
      }
      .links3 .link3 span{
        /*width: 30px;
        height: 30px;
        border-radius: 15px;
        padding: 10px;
        font-size: 24px;
          margin: 5px 15px;
        */
          background: #EEEEEE;
          font-weight: bold;
          color: rgb(212, 54, 37); 
          border: 1px solid rgb(212, 54, 37); 
          width: 70.295640326978px;
          height: 70.29564036px;
          padding: 9px 16px;
          font-size: 24px;
          line-height: 1.33;
          border-radius: 50%;
          font-weight: bold;
          font-family: Helvetica Neue;
      }
      .links3 {
          /*margin-top: 10px;*/
          /*margin-bottom: 10px;*/
          height: 70px;
          padding-top: 10px;
          color: rgb(78, 83, 91); 
          font-family: Helvetica Neue; 
          font-size: 17px; 
          font-style: normal; 
          font-weight: 500; 
          /*height: 34px; */
          letter-spacing: normal; 
          line-height: 1em; 
          margin-top: 0px; 
          opacity: 1; 
          text-align: center; 
      }
      .headerText{
        font-size: 12px;
        text-align: center;
      }
      .links3 .link3{
        width: 25%;
        float: left;
        font-size: 23px;
      }
      .popEach .remove{
          font-weight: bold;
          color:  rgb(212, 54, 37);
          border: 1px solid rgb(212, 54, 37);
          width: 20px;
          height: 20px;
          padding: 1px 0px;
          font-size: 12px;
          line-height: 1.33;
          border-radius: 35px;
          color: rgb(212, 54, 37);
          position: absolute;
          top: -10px;
          right: -10px;
          background: white;
          /*margin-right: -50px;*/
      }
      .popEach li{
          margin:0px !important; 
      }
      .popEach input{
          border: 1px solid rgb(212, 54, 37);
          font-size: 25px;
          width: 275px;
          padding: 0px 5px;
          color: rgba(238,238,238,1);
      }
      .popEach button{
          border-radius: 0px !important;
          border: 0px !important;
          background: rgb(212, 54, 37);
          font-size: 24px;
      }
      .popEach{
          /*border: 1px solid grey;*/
          position: relative;
          background: white;
          padding: 5px 10px;
          /*margin-bottom: 2px;*/
          /*margin-top: 2px;*/
          display: none;
          -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          /*top: 30%;*/
          /*left: 20%;*/
          color: rgb(212, 54, 37);
          /*width: 100%;*/
          /*height: 55px;*/
          max-width:900px;
          margin-right:auto;
          margin-left:auto;
      }
      .popMain{
        color: rgb(212, 54, 37)!important;
         position: fixed;
          background: white;
          padding: 5px 10px;
          margin-bottom: 2px;
          margin-top: 2px;
          display: none;
          -webkit-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          -moz-box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          box-shadow: 0px 0px 10px -2px rgba(0,0,0,1);
          top: 50%;
          left: 50%;
          min-width: 270px;
          margin-left: -135px;
      }
      .popMain li>input{
        background-color:#E5E4E2;
        border: 1px solid rgb(212, 54, 37);
      }
      .space20{
        clear: both;
        display: block;
        height: 20px;
      }
       /*  pops **/
      .modal-static { 
          position: fixed;
          top: 50% !important; 
          left: 50% !important; 
          margin-top: -100px;  
          margin-left: -100px; 
          overflow: visible !important;
      }
      .modal-static,
      .modal-static .modal-dialog,
      .modal-static .modal-content {
          width: 200px; 
          height: 200px; 
      }
      .modal-static .modal-dialog,
      .modal-static .modal-content {
          padding: 0 !important; 
          margin: 0 !important;
      }
      .modal-static .modal-content .icon {
      }
      .post-upvote{
          display: none;  
      }
      .post-rank{
          display: none;
      }
      .post-thumbnail{
          display: none;
      }
      .posts-grid .no-thumbnail .post-info {
          padding-right: 0px !important;
      }
      .post-bodyText{
          color: #aaaaaa;
          font-size: 16px;
          height: 20px;
          overflow: hidden;
      }
      .avatar{
          float: right;
          height: 23px;
          width: 23px;
      }
      .itemFoot img{
      }
      .itemFoot{
          font-size: 20px;
          color: #aaaaaa;
          height: 50px;
      }
      .DollarText{
        display: inline;
        text-align: right;
        padding: 12px 0px 0px 0px; 
      }
      /*.dollarAmt span.DollarText{
          padding-bottom: 15px;
      }
      .dollarAmt span.DollarMonthAmT{
          font-size: 28px;
          float: center;
      }*/
      .dollarAmts{
          padding: 0px 2px 0px 0px;
      }
      .dollarAmt{
          display:inline;
          float: left;
          font-size: 12px;
          /*color: rgb(212, 54, 37);*/
      }
      .marginLeft20{
          margin-left: 20px;
      }
      .marginRight10{
          margin-right: 10px;
      }
      .marg5{
          /*margin-left: 5px;*/
          /*margin-right: 5px;*/
      }
/*      .post-heading{
          font-size: 28px;
      }*/
      .font28,.post-title{
          font-size: 28px !important;
          /*color: black !important;*/
      }
      .post-title{
          /*font-size: 28px !important;*/
          color: black !important;
      }
      .font24{
          font-size: 24px;
      }
      .fontRed{
          color: rgb(212, 54, 37) !important;
      }
      .fontBlack{
          color: black !important;
      }
      .arrows{
          padding-top: 5px;
      }
      .post_description{
          background: white;
      }
      .tablePrice div{
          padding: 10px; 
          /*padding-left: 10px; */
      }
      .backGrey .list-inline{
          padding-top: 5px;
      }
      .backGrey{
          background: #F2F2F2;
          padding: 5px;
          /*margin: 5px;*/
      }
      .borderBottom{
          border: 0;
          border-bottom: 1px solid grey;
          /*border-right: 1px solid grey;*/
      }
      .borderRight{
          border-right: 1px solid grey;
          /*line-height: 10px;*/
          /*background-image: linear-gradient(to right, #000 1px, rgba(255,255,255,0) 1px), linear-gradient(to left, #000 0.1rem, rgba(255,255,255,0) 0px);
          background-position: bottom;
          background-size: 100% 30px;
          background-repeat: no-repeat;*/

      }
      .post:hover .post-info .post-heading a{
        color: rgba(212,54,37,1) !important; 
      }
      .post:hover .fa-arrow-circle-o-up{
        color: rgba(212,54,37,1) !important;
      }
      .post:hover .fa-comments{
        color: rgba(212,54,37,1) !important;
      }
      #popup_post_Amount:focus, #popup_post_Amount:active{
        outline: none !important;
        color: grey;
      }
      {{hideAuthClass}}

  </style>
</template>